/* styles.css */
body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#container {
    display:  flex;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #f0f0f0;
    justify-content: center;
}

.card {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }
  
  .legend div {
    display: flex;
    align-items: center;
  }

.hidden {
    opacity: 0;
    pointer-events: none;
}
