/* styles.css */
body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}



#container {
    display:  none;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #f0f0f0;
    justify-content: center;
}

.card {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }
  
  .legend div {
    display: flex;
    align-items: center;
  }

.formulario{
  position: absolute;
  left: 50%;
  width: 400px;
  transform:translate(-50%,50%);
  border-radius: 10px;
  border-color: black;
  border: 1px solid black;
  padding: 20px;
}

.formulario form{
  padding: 0 40px;
  box-sizing: border-box;
  
}

.formulario h1{
  text-align: center;
}

form .usuario{
  position: relative;
  border-bottom: 1px solid black;
  margin: 30px 0; 
}

.usuario input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid black;
  width: 250px;
  padding: 5px;
  font-size: 16px;
  outline: none;
}

.usuario label{
  position: absolute;
  top:50%;
  left: 5px;
  color:#adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.usuario span::before{
  content:'';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
